body{
    padding: 0;
    margin: 0;
    background-image: url("download1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-cointainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40rem;
    align-items: center;
    justify-content: center;
}
.heading{
    display: flex;
    padding-bottom: 70px;
    font-size: x-large;
    font-weight: bolder;
}
.box-main-div-1{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 5rem;
}
.box-div-1{
    border: 1px black solid;
    width: 60%;
    height: 5rem;
    padding-left: 28px;
    background-color: lightgrey;
    font-size: xx-large;
    color: red;
   
}